[package]
name = "systemd-boot-friend-rs"
version = "0.10.3-alpha.0"
license = "MIT"
authors = ["Kaiyang Wu <origincode@aosc.io>"]
edition = "2018"
description = "Kernel version manager for systemd-boot"
repository = "https://github.com/AOSC-Dev/systemd-boot-friend-rs"
homepage = "https://github.com/AOSC-Dev/systemd-boot-friend-rs"
readme = "README.md"

[[bin]]
name = "systemd-boot-friend"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.5"
anyhow = "1.0"
clap = "3.0.0-beta.5"
dialoguer = "0.8"
semver = "1.0"
sailfish = "0.3"
lazy_static = "1.4"
regex = "1.5"
# i18n
i18n-embed = { version = "0.13", features = ["fluent-system", "desktop-requester"]}
i18n-embed-fl = "0.6"
rust-embed = "6.0"
unic-langid = "0.9"

[build-dependencies]
clap = "3.0.0-beta.5"
clap_generate = "3.0.0-beta.5"

[patch.crates-io]
sailfish = { git = "https://github.com/OriginCode/sailfish", tag = "v0.3.4" }

[profile.release]
lto = true
